/* //this is the style sheet for the registration form */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.line_gap{
    margin-bottom: 15px;
}
form{
    background-color: aqua;
}
.mrr{
    margin-right: 10px;
}
button{
    text-align: center;
}